section {
    height: 600px;
    width: 600px;
    background-color: aqua;
    display: flex;
    align-items: center;
}
.section2 {
    height: 100px;
    width: 100px;
    background-color: #2f00ff;
}
.section3 {
    height: 100px;
    width: 100px;
    background-color: hsl(290, 100%, 50%);
}
.section4 {
    height: 100px;
    width: 100px;
    background-color: green;
    align-self: flex-end;
    justify-self: flex-end;
}